{% macro t(key) %}{{ {
  "language": "zu",
  "direction": "ltr",
  "action.edit": "Hlela leli khasi",
  "action.skip": "Yeqela kokuqukethwe",
  "action.view": "Buka umthombo waleli khasi",
  "announce.dismiss": "Ungaphinde ubonise lokhu",
  "blog.archive": "Ingobo yomlando",
  "blog.authors": "Ababhali",
  "blog.categories": "Izigaba",
  "blog.categories.in": "ku-",
  "blog.continue": "Qhubeka ufunde",
  "blog.draft": "Okusalungiswa",
  "blog.index": "Buyela ohlwini",
  "blog.meta": "Imininingwane",
  "blog.references": "Izixhumanisi ezihlobene",
  "clipboard.copy": "Kopisha",
  "clipboard.copied": "Kukopishiwe",
  "consent.accept": "Vuma",
  "consent.manage": "Lawula izilungiselelo",
  "consent.reject": "Yenqaba",
  "footer": "Phansi kwekhasi",
  "footer.next": "Okulandelayo",
  "footer.previous": "Okwangaphambili",
  "header": "Phezulu kwekhasi",
  "meta.comments": "Amazwana",
  "meta.source": "Umthombo",
  "nav": "Imenyu",
  "readtime.one": "Umzuzu owodwa wokufunda",
  "readtime.other": "Imizuzu engu-# yokufunda",
  "rss.created": "I-RSS feed",
  "rss.updated": "I-RSS feed yezinguquko",
  "search": "Sesha",
  "search.config.lang": "en",
  "search.config.pipeline": "stopWordFilter",
  "search.config.separator": "[\\s\\-]+",
  "search.placeholder": "Sesha",
  "search.share": "Yabelana",
  "search.reset": "Sula",
  "search.result.initializer": "Ilungiselela ukusesha",
  "search.result.placeholder": "Bhala ukuze uqale ukusesha",
  "search.result.none": "Akukho okuhambisanayo",
  "search.result.one": "Kutholwe ikhasi elilodwa",
  "search.result.other": "Kutholwe amakhasi angu-#",
  "search.result.more.one": "Kukhona okunye okukodwa kuleli khasi",
  "search.result.more.other": "Kukhona okunye okungu-# kuleli khasi",
  "search.result.term.missing": "Akukho",
  "select.language": "Khetha ulimi",
  "select.version": "Khetha inguqulo",
  "source": "Yiya ku-repository",
  "source.file.contributors": "Abanikele",
  "source.file.date.created": "Kwenziwe",
  "source.file.date.updated": "Kugcine ukushintshwa",
  "tabs": "Amathebhu",
  "toc": "Okuqukethwe",
  "top": "Buyela phezulu"
}[key] }}{% endmacro %}

